* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

#viewer-container {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    height: 100%;
}

#mobileInterface {
    display: inline;
    position: fixed;
    top: auto;
}

.columnLateral {
    display: inline;
    position: fixed;
    top: auto;
    left: 5vh;
    touch-action: manipulation;
    bottom: calc(5%);
}

.columnLateral2 {
    display: inline;
    position: fixed;
    top: auto;
    left: 17vh;
    touch-action: manipulation;
    bottom: calc(5%);
}

#joy1X {
    display: none;
}

#joy1Y {
    display: none;
}

#Slid1Y {
    display: none;
}